<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
    <style>
        .zoe-enter-active {
            animation: aaa 1.5s;
        }
        
        .zoe-leave-active {
            animation: aaa 1.5s reverse;
            /* reverse  逆向执行 */
        }
        
        @keyframes aaa {
            0% {
                opacity: 0;
                transform: translateX(1000px);
            }
            100% {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    </style>
</head>

<body>
    <div id="box">
        <!-- 事件中，不加() ，得到事件对象 -->
        <!-- <input type="text" @input="handleInput" /> -->

        <!-- v-model 双向绑定的指令 -->
        <input type="text" v-model="mytext" />
        <button @click="handleClick()">add</button>

        <!-- <transition></transition> -->
        <div v-if="datalist.length===0">没有任务</div>
        <!-- <ul v-else> -->
        <transition-group name="zoe" tag="ul" v-else>
            <li v-for="(item,index) in datalist" :key="item">
                {{ item }}
                <button @click="handleDel(index)">X</button>
            </li>
        </transition-group>
        <!-- </ul> -->
    </div>
    <script>
        const app = new Vue({
            el: '#box',
            data: {
                mytext: "",
                datalist: []
            },
            methods: {
                handleClick() {
                    console.log("add", this.mytext)
                    this.datalist.push(this.mytext)

                    this.mytext = "" // 重置input 
                },
                // handleInput(evt) {
                //     // console.log("input", evt.target.value)
                //     this.mytext = evt.target.value
                // }

                handleDel(myindex) {
                    console.log("del", myindex)
                    this.datalist.splice(myindex, 1) // 删一条数据
                }
            }
        })
    </script>
</body>

</html>